<%- include('partials/boilerplate.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main class="dashboard">

    <p class="welcome">Welcome back!</p>

    <section class="dashboard__item">
        <div class="dashboard__text">
            <h2>Messages</h2>
        </div> 
    </section>

    <section class="dashboard__item">
        <div class="dashboard__text">
            <h2>Pets</h2>
            <% if (pets != false) { %> 
                <% pets.forEach(pet => { %>
                    
                    <a class="petcard" href="/dashboard/pet/<%= pet.id %>">
                        <div class="petcard__img" >
                            <img src="img/saayapic.jpeg" alt="">
                        </div>
                        
                        <div class="petcard__info">
                            <h3 class="petcard__name"><%= pet.name %> <i class="<%= getGenderIcon(pet.gender) %>" style="font-size:24px"></i> </h3>
                            <p><%= showAge(pet.birthday) %> </p>
                            <p>ID : <%= pet.microshipNr || "None" %> </p>
                        </div>
                    </a>
                    
            <%  }); 
            } else { %> 
            <p>You haven't added any pets yet</p>
            <% } %>
            <div class="dashboard__button button">
                <a  href="/dashboard/addpet">Add pet</a>
            </div>
            
        </div>
    </section>
</main>
<%- include('partials/footer.ejs') %>