<%- include('partials/header.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main class="dashboard">

    <p class="welcome">Welcome back!</p>

    <section class="dashboard__item">
        <div class="dashboard__text">
            <h2>Messages</h2>
            <% appointments.forEach(appointment => { %>
                <div class="notification">
                    <p>You Have an appointment with <%= appointment.doctor %> coming up soon! </p>
                    <p><%= showDate(appointment.date) %>  <%= getTime(appointment.date) %>  </p>
                </div>
            <% }) %>
        </div> 
    </section>

    <section class="dashboard__item">
        <div class="dashboard__text">
            <% if (msg.length != 0) { %>
                <div class="confirmationBox">
                    <p> <%= msg %> </p>
                </div>
            <% } %>  
            <h2>Pets</h2>
            <div class="petcard_container">
                <% if (pets != false) { %> 
                    <% pets.forEach(pet => { %>
                        
                        <a class="petcard" href="/dashboard/pet/<%= pet.id %>">
                            <div class="petcard__img" >
                                <img src="img/saayapic.jpeg" alt="">
                            </div>
                            
                            <div class="petcard__info">
                                <h3 class="petcard__name "><%= pet.name %> <i class="<%= getGenderIcon(pet.gender) %>" style="font-size:24px"></i> </h3>
                                <div class="petcard__extra">
                                    <p><%= showAge(pet.birthday) %> </p>
                                    <p>ID : <%= pet.microshipNr || "None" %> </p>
                                </div>
                            </div>
                        </a>
                        
                <%  }); 
                } else { %> 
                <p>You haven't added any pets yet</p>
                <% } %>
            </div>


           <a href="/dashboard/addpet">
               <div class="dashboard__button button">
                    <span>Add pet</span>
            </div>
           </a>
            
            
        </div>
    </section>
</main>
<%- include('partials/footer.ejs') %>