<%- include('partials/header.ejs') %>
<%- include('partials/loggedinnav.ejs') %>


<div class="pet__container">
    <div class="pet">
        <nav>
            <ul>
                <% allPets.forEach(petx => { %> 
                    <li><a class="pet-link <%= isActive(pet, petx) %>" href="/dashboard/pet/<%= petx.id %>"><%= petx.name %> </a></li>
                <% }) %>  
                
            </ul>
        </nav>

        <main> 
            <div class="pet__main">
                <section class="pet info">
                    <div class="top">
                        <div class="info__img">
                            <img src="<%= serveIcon(pet.typeOfAnimal) %>" alt="">
                        </div>
                        <div class="more">
                            <div class="more__button">
                                <img class="more__img" src="img/dots.png" alt="">
                            </div>
                            
                            <div class="more__content">
                                <a class="line" href="/dashboard/edit/<%= pet.id %>">Edit info</a>
                                <form class="line" action="/dashboard/delete/<%= pet.id %>" method="post">
                                    <button>Delete pet</button>
                                </form>
                            </div>
                        </div> 
                    </div>

                    <div class="info__text">
                        <h3><%= pet.name %> <i class="<%= getGenderIcon(pet.gender) %>" style="font-size:24px"></i></h3> 
                        <p>Birthday: <%= showDate(pet.birthday) %> </p>
                        <p>ID <%= pet.microshipNr %> </p>
                        <p>Breed: <%= pet.breed %> </p>
                        <p>Neutered: <%= pet.neutered  %> </p>
                    </div>
                </section>

                <section class="pet document">
                    <div class="document__header top">
                        <h3>Documents</h3>
                        <div>
                            <a href="/dashboard/document"><img src="img/plus.png" alt=""></a>
                        
                        </div>
                        
                    </div>
                    <div class="document__items">
                        <div class="document__single">
                            <i class="fas fa-file"></i>
                            <p>Vaccine</p> 
                            <span class="date_added"> 07.05.2022</span>
                            <i class="fa-solid fa-download"></i>
                        </div>
                        <div class="document__single">
                            <i class="fas fa-file"></i>
                            <p>Blood analasis</p> 
                            <span class="date_added"> 14.02.2022</span>
                            <i class="fa-solid fa-download"></i>
                        </div>
                        <div class="document__single">
                            <i class="fas fa-file"></i>
                            <p>Anual checkup</p> 
                            <span class="date_added"> 01.09.2021</span>
                            <i class="fa-solid fa-download"></i>
                        </div>
                         
                    </div>
                </section>

                <section class="pet document">
                    <div class="document__header top">
                        <h3>Appointments</h3>
                        <div>
                            <a href="/dashboard/appointment/<%= pet.id %>"><img src="img/plus.png" alt=""></a>
                        </div>
                    </div>
                    <div class="document__items">
                        <% appointments.forEach(appointment => { %>
                            <div class="appointment">
                                <p class="appointment__item">Date</p>
                                <p><%= showDate(appointment.date) %> <span><img src="img/line3.png" alt=""></span> <%= getTime(appointment.date) %></p>
                                <p class="appointment__item">Vet</p>
                                <p><%= appointment.doctor %></p>
                                <form action="/dashboard/appointment/delete/<%= appointment.id %> " method="post">
                                    <button>❌</button>
                                </form>
                            </div>
                        <% }); %> 
                    </div>
                </section>
            </div>
            
       
                <section class="pet weight">
                    <div class="top">
                        <h3>Weight</h3>
                        
                        <div class="addweight">
                            <div class="addweight__button">
                                <img class="addweight__img" src="img/plus.png" alt="">
                            </div>

                            <div class="addweight__content">
                                <form class="" action="" method="">
                                    <input type="number" placeholder="Enter weight">
                                    
                                    <div class="login__button ">
                                        <button class="button">Save</button>   
                                    </div>
                                  
                                </form>
                            </div>

                        </div>
                    </div>
                    
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </section>

        </main>
    </div>
</div>

<script src="/script.js"></script>
<%- include('partials/footer.ejs') %>