<%- include('partials/boilerplate.ejs') %>
<%- include('partials/loggedinnav.ejs') %>

<main class="petDashboard">
    <div class="petCard">
        <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" alt="">
        <p> <%= pet.name %> <i class="<%= getGenderIcon(pet.gender) %>" style="font-size:24px"></i>  </p>
    </div>
    <div class="petInfo">
        <p>Birtday: <%= showDate(pet.birthday) %></p>
        <p>Neutered: <%= pet.neutered %></p>
        <p>microship: <%= pet.mictoshipNr %></p>
        <p>breed: <%= pet.breed %> </p>
        <p>Type: <%= pet.typeOfAnimal %> </p>
        <p>Status: <%= pet.status %> </p>
    </div>
    <div class="petWeight">
        <h3>Weight Tracking</h3>
    </div>
    <div class="petFood"></div>
    <div class="petGroom"></div>
</main>

<%- include('partials/footer.ejs') %>